@layout('emails/master')

@section('title')
  {{ subject }}
@endsection

@section('raw-header')
  <h2 style="margin: 0; font-size: 16px; font-weight: normal; letter-spacing: normal; line-height: normal;">
    {{{ antl.formatMessage('emails.message--modules-mails-send--greeging', { name: user.full_name, sender: sender.full_name }) }}}
  </h2>
@endsection

@section('content')
  {{{ content }}}
@endsection

