@layout('emails/master')

@section('title')
  {{ antl.formatMessage('emails.subject--password-changed', { abbreviation: branding.abbreviation }) }}
@endsection

@section('header')
  {{ antl.formatMessage('emails.header--password-was-changed') }}
@endsection

@section('content')
  <p>
    {{ antl.formatMessage('emails.message--greeting', { name: user.first_name }) }}
  </p>
  <p>
    {{{ antl.formatMessage('emails.message--password-was-changed') }}}
  </p>
@endsection

