@layout('emails/master')

@section('title')
  {{ antl.formatMessage('emails.subject--password-reset-failed', { abbreviation: branding.abbreviation }) }}
@endsection

@section('header')
  {{ antl.formatMessage('emails.header--password-reset-failed') }}
@endsection

@section('content')
  <p>
    {{ antl.formatMessage('emails.message--greeting-anonimous') }}
  </p>
  <p>
    {{{ antl.formatMessage('emails.message--someone-requested-password-reset') }}}
  </p>
@endsection
